/*banner*/
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}

.banner  h1 {
  margin: 0;
  font-weight: bold;
}

.banner  p {
  font-size: 20px
  opacity: .7;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
